t9t-xml/src/generated/resources/xsd/lib/t9t_xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- autogenerated by bonaparte DSL -->
<xs:schema targetNamespace="http://arvatosystems.com/schema/t9t_xml.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bon="http://www.jpaw.de/schema/bonaparte.xsd"
  xmlns:t9t_xml="http://arvatosystems.com/schema/t9t_xml.xsd"
  xmlns:t9t_auth="http://arvatosystems.com/schema/t9t_auth.xsd"
  xmlns:t9t_base_types="http://arvatosystems.com/schema/t9t_base_types.xsd"
  elementFormDefault="qualified"
  >

    <xs:import namespace="http://www.jpaw.de/schema/bonaparte.xsd" schemaLocation="bonaparte.xsd"/>
    <xs:import namespace="http://arvatosystems.com/schema/t9t_auth.xsd" schemaLocation="t9t_auth.xsd"/>
    <xs:import namespace="http://arvatosystems.com/schema/t9t_base_types.xsd" schemaLocation="t9t_base_types.xsd"/>
    <xs:complexType name="User001" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="userId" type="t9t_base_types:userId"/>
                    <xs:element name="name" type="t9t_base_types:shortText"/>
                    <xs:element name="emailAddress" minOccurs="0" nillable="true" type="t9t_base_types:emailAddress"/>
                    <xs:element name="isActive" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="roleId" minOccurs="0" nillable="true" type="t9t_auth:roleId"/>
                    <xs:element name="isTechnical" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="office" minOccurs="0" nillable="true" type="t9t_base_types:shortText"/>
                    <xs:element name="department" minOccurs="0" nillable="true" type="t9t_base_types:shortText"/>
                    <xs:element name="jobTitle" minOccurs="0" nillable="true" type="t9t_base_types:shortText"/>
                    <xs:element name="phoneNo" minOccurs="0" nillable="true" type="t9t_base_types:shortText"/>
                    <xs:element name="mobilePhoneNo" minOccurs="0" nillable="true" type="t9t_base_types:shortText"/>
                    <xs:element name="externalAuth" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="supervisorId" minOccurs="0" nillable="true" type="t9t_base_types:userId"/>
                    <xs:element name="z" minOccurs="0" nillable="true" type="bon:JSON"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserMaster" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="records" minOccurs="0" maxOccurs="unbounded" type="t9t_xml:User001"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
