t9t-xml-apiext/src/generated/resources/xsd/lib/t9t_xml_auth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- autogenerated by bonaparte DSL -->
<xs:schema targetNamespace="http://arvatosystems.com/schema/t9t_xml_auth.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bon="http://www.jpaw.de/schema/bonaparte.xsd"
  xmlns:t9t_xml_auth="http://arvatosystems.com/schema/t9t_xml_auth.xsd"
  elementFormDefault="qualified"
  >

    <xs:import namespace="http://www.jpaw.de/schema/bonaparte.xsd" schemaLocation="bonaparte.xsd"/>
    <xs:complexType name="SessionParameters" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="languageTag" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="32"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="zoneInfo" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="64"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="dataUri" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="userAgent" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AuthByApiKey" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="apiKey" type="bon:UUID"/>
                    <xs:element name="sessionParameters" minOccurs="0" nillable="true" type="t9t_xml_auth:SessionParameters"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AuthByUserIdPassword" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="userId">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="password">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="32"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="sessionParameters" minOccurs="0" nillable="true" type="t9t_xml_auth:SessionParameters"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AuthenticationResult" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="jwt">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1024"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="mustChangePassword" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="passwordExpires" minOccurs="0" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
