t9t-xml-apiext/src/generated/resources/xsd/lib/t9t_xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- autogenerated by bonaparte DSL -->
<xs:schema targetNamespace="http://arvatosystems.com/schema/t9t_xml.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bon="http://www.jpaw.de/schema/bonaparte.xsd"
  xmlns:t9t_xml="http://arvatosystems.com/schema/t9t_xml.xsd"
  elementFormDefault="qualified"
  >

    <xs:import namespace="http://www.jpaw.de/schema/bonaparte.xsd" schemaLocation="bonaparte.xsd"/>
    <xs:simpleType name="countryCode">
        <xs:restriction base="xs:normalizedString">
            <xs:minLength value="2"/>
            <xs:maxLength value="2"/>
            <xs:pattern value="([A-Z])*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="currencyCode">
        <xs:restriction base="xs:normalizedString">
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="([A-Z])*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="languageCode">
        <xs:restriction base="xs:normalizedString">
            <xs:minLength value="2"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="\p{IsBasicLatin}*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="shortId">
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="16"/>
            <xs:pattern value="\p{IsBasicLatin}*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="longId">
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="externalId">
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="shortText">
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="80"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="userId">
        <xs:restriction base="t9t_xml:shortId"/>
    </xs:simpleType>
    <xs:simpleType name="roleId">
        <xs:restriction base="t9t_xml:shortId"/>
    </xs:simpleType>
    <xs:simpleType name="emailAddress">
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="timeZoneId">
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Ping" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="pingId" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GenericResult" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="processRef">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedLong">
                                <xs:maxInclusive value="9223372036854775807"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="returnCode">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="errorDetails" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="512"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="errorMessage" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="512"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="objectRef" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedLong">
                                <xs:maxInclusive value="9223372036854775807"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="objectId" minOccurs="0" nillable="true" type="t9t_xml:externalId"/>
                    <xs:element name="count" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="id" minOccurs="0" nillable="true" type="bon:UUID"/>
                    <xs:element name="description" minOccurs="0" nillable="true" type="t9t_xml:shortText"/>
                    <xs:element name="fieldName" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="className" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PreviousResult" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="completedCheckedRequest" type="xs:boolean"/>
                    <xs:element name="returnCodeOfCheckedRequest" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="User001" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="userId" type="t9t_xml:userId"/>
                    <xs:element name="name" type="t9t_xml:shortText"/>
                    <xs:element name="emailAddress" minOccurs="0" nillable="true" type="t9t_xml:emailAddress"/>
                    <xs:element name="isActive" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="roleId" minOccurs="0" nillable="true" type="t9t_xml:roleId"/>
                    <xs:element name="isTechnical" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="office" minOccurs="0" nillable="true" type="t9t_xml:shortText"/>
                    <xs:element name="department" minOccurs="0" nillable="true" type="t9t_xml:shortText"/>
                    <xs:element name="jobTitle" minOccurs="0" nillable="true" type="t9t_xml:shortText"/>
                    <xs:element name="phoneNo" minOccurs="0" nillable="true" type="t9t_xml:shortText"/>
                    <xs:element name="mobilePhoneNo" minOccurs="0" nillable="true" type="t9t_xml:shortText"/>
                    <xs:element name="externalAuth" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="supervisorId" minOccurs="0" nillable="true" type="t9t_xml:userId"/>
                    <xs:element name="z" minOccurs="0" nillable="true" type="bon:JSON"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserMaster" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="records" minOccurs="0" maxOccurs="unbounded" type="t9t_xml:User001"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ErrorDescription001" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="returnCode">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="errorMessage">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="512"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="applicationLevel" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="moduleDescription" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ErrorDescriptionList" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="records" minOccurs="0" maxOccurs="unbounded" type="t9t_xml:ErrorDescription001"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
