t9t-xml-apiext/src/generated/resources/xsd/lib/t9t_xml_doc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- autogenerated by bonaparte DSL -->
<xs:schema targetNamespace="http://arvatosystems.com/schema/t9t_xml_doc.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bon="http://www.jpaw.de/schema/bonaparte.xsd"
  xmlns:t9t_xml_doc="http://arvatosystems.com/schema/t9t_xml_doc.xsd"
  xmlns:t9t_xml="http://arvatosystems.com/schema/t9t_xml.xsd"
  elementFormDefault="qualified"
  >

    <xs:import namespace="http://www.jpaw.de/schema/bonaparte.xsd" schemaLocation="bonaparte.xsd"/>
    <xs:import namespace="http://arvatosystems.com/schema/t9t_xml.xsd" schemaLocation="t9t_xml.xsd"/>
    <xs:complexType name="CreateAndEmailDocument" block="#all" final="#all">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="documentId" type="t9t_xml:externalId"/>
                    <xs:element name="entityId" minOccurs="0" nillable="true" type="t9t_xml:shortId"/>
                    <xs:element name="languageCode" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="5"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="countryCode" minOccurs="0" nillable="true" type="t9t_xml:countryCode"/>
                    <xs:element name="currencyCode" minOccurs="0" nillable="true" type="t9t_xml:currencyCode"/>
                    <xs:element name="timeZone" minOccurs="0" nillable="true" type="t9t_xml:timeZoneId"/>
                    <xs:element name="emailRecipients" minOccurs="0" maxOccurs="unbounded" type="t9t_xml:emailAddress"/>
                    <xs:element name="data" type="bon:JSON"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
