t9t-cfg-be/src/generated/resources/xsd/lib/t9t_cfg_be.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- autogenerated by bonaparte DSL -->
<xs:schema targetNamespace="http://arvatosystems.com/schema/t9t_cfg_be.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bon="http://www.jpaw.de/schema/bonaparte.xsd"
  xmlns:t9t_cfg_be="http://arvatosystems.com/schema/t9t_cfg_be.xsd"
  xmlns:api_media="http://www.jpaw.de/schema/api_media.xsd"
  elementFormDefault="qualified"
  >

    <xs:import namespace="http://www.jpaw.de/schema/bonaparte.xsd" schemaLocation="bonaparte.xsd"/>
    <xs:import namespace="http://www.jpaw.de/schema/api_media.xsd" schemaLocation="api_media.xsd"/>
    <xs:simpleType name="DatabaseBrandType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="H2"/>
            <xs:enumeration value="POSTGRES"/>
            <xs:enumeration value="ORACLE"/>
            <xs:enumeration value="MS_SQL_SERVER"/>
            <xs:enumeration value="HANA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="namedQualifier">
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="20"/>
            <xs:pattern value="\p{IsBasicLatin}*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="T9tServerConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="persistenceUnitName">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="16"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="databaseConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:RelationalDatabaseConfiguration"/>
                    <xs:element name="secondaryDatabaseConfig" minOccurs="0" nillable="true" type="t9t_cfg_be:RelationalDatabaseConfiguration"/>
                    <xs:element name="noSqlConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:NoSqlDatabaseConfiguration"/>
                    <xs:element name="keyPrefetchConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:KeyPrefetchConfiguration"/>
                    <xs:element name="logWriterConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:LogWriterConfiguration"/>
                    <xs:element name="applicationConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:ApplicationConfiguration"/>
                    <xs:element name="serverConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:ServerConfiguration"/>
                    <xs:element name="bpm2Configuration" minOccurs="0" nillable="true" type="t9t_cfg_be:Bpm2Configuration"/>
                    <xs:element name="awsConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:AWSConfiguration"/>
                    <xs:element name="azureConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:AzureConfiguration"/>
                    <xs:element name="uplinkConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:UplinkConfiguration"/>
                    <xs:element name="searchConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:SearchConfiguration"/>
                    <xs:element name="kafkaConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:KafkaConfiguration"/>
                    <xs:element name="asyncMsgConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:AsyncTransmitterConfiguration"/>
                    <xs:element name="ldapConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:LdapConfiguration"/>
                    <xs:element name="noDbBackendApiKey" minOccurs="0" nillable="true" type="bon:UUID"/>
                    <xs:element name="noDbBackendPermittedRequests" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jwtValidityApiKey" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedLong">
                                <xs:maxInclusive value="9223372036854775807"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jwtValidityUserPassword" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedLong">
                                <xs:maxInclusive value="9223372036854775807"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="mocks" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="16"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="runInCluster" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="disableScheduler" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="sessionLogSysout" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="importEnvironment" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="8"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="eventEnvironment" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="8"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="z" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="2000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="KafkaConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="defaultBootstrapServers" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="1024"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="topicPattern" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="1024"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="defaultImportApiKey" minOccurs="0" nillable="true" type="bon:UUID"/>
                    <xs:element name="separateWorkerPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clusterManagerGroupId" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clusterManagerTopicName" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RelationalDatabaseConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="username" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="16"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="password" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="16"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="databaseBrand" minOccurs="0" nillable="true" type="t9t_cfg_be:DatabaseBrandType"/>
                    <xs:element name="jdbcDriverClass" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jdbcConnectString" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="readonly" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="migrations" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="z" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="2000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NoSqlDatabaseConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="strategy" minOccurs="0" nillable="true" type="t9t_cfg_be:namedQualifier"/>
                    <xs:element name="hostname" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="100"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="port" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="schemaName" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="30"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="KeyPrefetchConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="strategy" minOccurs="0" nillable="true" type="t9t_cfg_be:namedQualifier"/>
                    <xs:element name="locationOffset">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="defaultKeyChunkSize">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="prefetchedKeyChunkSize">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="numKeyFetchThreads">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="cacheSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="cacheSizeUnscaled" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Bpm2Configuration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="jobExecutorEnabled" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="jobExecutorQueueSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jobExecutorMinWorker" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jobExecutorMaxWorker" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jobExecutorLockId" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AWSConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="region" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="snsEndpoint" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="sqsEndpoint" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="dynamoEndpoint" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="dynamoSecret" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AzureConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="region" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="userAgent" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="64"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="cosmosEndpoint" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="cosmosSecret" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LogWriterConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="strategy" minOccurs="0" nillable="true" type="t9t_cfg_be:namedQualifier"/>
                    <xs:element name="queueSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="alertOnQueueSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="alertInterval" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="maxWriteTimeInMillis" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedLong">
                                <xs:maxInclusive value="9223372036854775807"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ServerConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="port" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="filesystemContext" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="80"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="filesystemPathRoot" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jcaBridge" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="runScheduler" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="keyStorePath" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="keyStorePassword" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="63"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="timeZone" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="64"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="forbiddenCharacters" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="64"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="replacementCharacter" minOccurs="0" nillable="true" type="bon:CHAR"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ApplicationConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="workerPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="eventLoopPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="maxWorkerExecuteTime" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="maxEventLoopExecuteTime" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="blockedThreadCheckInterval" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="autonomousPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="localAsyncPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="idempotencyCacheMaxEntries" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="idempotencyCacheExpiry" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UplinkConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="url">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="mediaType" minOccurs="0" nillable="true" type="api_media:MediaType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SearchConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="strategy" type="t9t_cfg_be:namedQualifier"/>
                    <xs:element name="defaultUrl">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AsyncTransmitterConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="strategy" type="t9t_cfg_be:namedQualifier"/>
                    <xs:element name="maxMessageAtStartup">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="timeoutIdleGreen">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="timeoutIdleRed">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="timeoutShutdown">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="timeoutExternal">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="waitAfterExtError">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="waitAfterDbErrors">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LdapConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="contextFactory">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="providerUrl">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="securityPrincipal">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="securityCredentials">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="63"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="organization">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="onlySelectedUsers" minOccurs="0" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
