t9t-cfg-be/src/generated/resources/xsd/lib/t9t_cfg_be.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- autogenerated by bonaparte DSL -->
<xs:schema targetNamespace="http://arvatosystems.com/schema/t9t_cfg_be.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bon="http://www.jpaw.de/schema/bonaparte.xsd"
  xmlns:t9t_cfg_be="http://arvatosystems.com/schema/t9t_cfg_be.xsd"
  xmlns:api_media="http://www.jpaw.de/schema/api_media.xsd"
  xmlns:t9t_base_types="http://arvatosystems.com/schema/t9t_base_types.xsd"
  elementFormDefault="qualified"
  >

    <xs:import namespace="http://www.jpaw.de/schema/bonaparte.xsd" schemaLocation="bonaparte.xsd"/>
    <xs:import namespace="http://www.jpaw.de/schema/api_media.xsd" schemaLocation="api_media.xsd"/>
    <xs:import namespace="http://arvatosystems.com/schema/t9t_base_types.xsd" schemaLocation="t9t_base_types.xsd"/>
    <xs:simpleType name="DatabaseBrandType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="H2"/>
            <xs:enumeration value="POSTGRES"/>
            <xs:enumeration value="ORACLE"/>
            <xs:enumeration value="MS_SQL_SERVER"/>
            <xs:enumeration value="HANA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="namedQualifier">
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="20"/>
            <xs:pattern value="\p{IsBasicLatin}*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="T9tServerConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="serverIdSelf" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="36"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="stagingType" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="20"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="persistenceUnitName">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="16"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="databaseConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:RelationalDatabaseConfiguration"/>
                    <xs:element name="secondaryDatabaseConfig" minOccurs="0" nillable="true" type="t9t_cfg_be:RelationalDatabaseConfiguration"/>
                    <xs:element name="shadowDatabaseConfig" minOccurs="0" nillable="true" type="t9t_cfg_be:RelationalDatabaseConfiguration"/>
                    <xs:element name="noSqlConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:NoSqlDatabaseConfiguration"/>
                    <xs:element name="keyPrefetchConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:KeyPrefetchConfiguration"/>
                    <xs:element name="logWriterConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:LogWriterConfiguration"/>
                    <xs:element name="applicationConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:ApplicationConfiguration"/>
                    <xs:element name="serverConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:ServerConfiguration"/>
                    <xs:element name="bpm2Configuration" minOccurs="0" nillable="true" type="t9t_cfg_be:Bpm2Configuration"/>
                    <xs:element name="awsConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:AWSConfiguration"/>
                    <xs:element name="azureConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:AzureConfiguration"/>
                    <xs:element name="uplinkConfiguration" minOccurs="0" maxOccurs="unbounded" type="t9t_cfg_be:UplinkConfiguration"/>
                    <xs:element name="searchConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:SearchConfiguration"/>
                    <xs:element name="kafkaConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:KafkaConfiguration"/>
                    <xs:element name="asyncMsgConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:AsyncTransmitterConfiguration"/>
                    <xs:element name="ldapConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:LdapConfiguration"/>
                    <xs:element name="oidConfiguration" minOccurs="0" nillable="true" type="t9t_cfg_be:OidConfiguration"/>
                    <xs:element name="encryptionConfiguration" minOccurs="0" maxOccurs="unbounded" type="t9t_cfg_be:EncryptionConfiguration"/>
                    <xs:element name="passwordResetApiKey" minOccurs="0" nillable="true" type="bon:UUID"/>
                    <xs:element name="noDbBackendApiKey" minOccurs="0" nillable="true" type="bon:UUID"/>
                    <xs:element name="noDbBackendPermittedRequests" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jwtValidityApiKey" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedLong">
                                <xs:maxInclusive value="9223372036854775807"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jwtValidityUserPassword" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedLong">
                                <xs:maxInclusive value="9223372036854775807"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jwtValidityOpenId" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedLong">
                                <xs:maxInclusive value="9223372036854775807"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="mocks" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="16"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="runInCluster" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="disableScheduler" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="sessionLogSysout" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="importEnvironment" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="8"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="eventEnvironment" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="8"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="schedulerEnvironment" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="8"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="z" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="2000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="startupApiKey" minOccurs="0" nillable="true" type="bon:UUID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="KafkaConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="defaultBootstrapServers" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="1024"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="topicPattern" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="1024"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="defaultImportApiKey" minOccurs="0" nillable="true" type="bon:UUID"/>
                    <xs:element name="separateWorkerPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clusterManagerGroupId" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clusterManagerTopicName" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clusterManagerApiKey" minOccurs="0" nillable="true" type="bon:UUID"/>
                    <xs:element name="clusterManagerPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clusterManagerOrdering" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="maxPending" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="hardLimitPending" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="slowProcessingTimeout" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="waitInterval" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="commitSync" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="commitInterval" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="monitorInterval" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="shutdownThreadpoolInterval" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="maxPollRecords" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="idleInterval" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RelationalDatabaseConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="persistenceUnitName" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="16"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="username" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="16"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="password" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="32"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="databaseBrand" minOccurs="0" nillable="true" type="t9t_cfg_be:DatabaseBrandType"/>
                    <xs:element name="jdbcDriverClass" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jdbcConnectString" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="readonly" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="readonlyOptimization" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="migrations" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="z" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="2000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="hikariMaximumPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="hikariMinimumIdle" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="hikariMaxLifetime" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="hikariExceptionOverrideClassName" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="fwDropBeforeMigrate" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="fwSkipDefaultCallbacks" minOccurs="0" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NoSqlDatabaseConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="strategy" minOccurs="0" nillable="true" type="t9t_cfg_be:namedQualifier"/>
                    <xs:element name="hostname" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="100"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="port" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="schemaName" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="30"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="KeyPrefetchConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="strategy" minOccurs="0" nillable="true" type="t9t_cfg_be:namedQualifier"/>
                    <xs:element name="locationOffset">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="defaultKeyChunkSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="prefetchedKeyChunkSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="numKeyFetchThreads" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="cacheSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="cacheSizeUnscaled" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="useSequencePerTable" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="sequenceReplicationScale" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedLong">
                                <xs:maxInclusive value="9223372036854775807"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Bpm2Configuration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="jobExecutorEnabled" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="jobExecutorQueueSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jobExecutorMinWorker" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jobExecutorMaxWorker" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jobExecutorLockId" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AWSConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="region" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="snsEndpoint" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="sqsEndpoint" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="dynamoEndpoint" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="dynamoSecret" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AzureConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="region" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="userAgent" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="64"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="cosmosEndpoint" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="cosmosSecret" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LogWriterConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="strategy" minOccurs="0" nillable="true" type="t9t_cfg_be:namedQualifier"/>
                    <xs:element name="queueSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="alertOnQueueSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="alertInterval" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="maxWriteTimeInMillis" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedLong">
                                <xs:maxInclusive value="9223372036854775807"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="kafkaTopic" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="64"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="serverType" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="4"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ServerConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="port" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="filesystemContext" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="80"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="filesystemPathRoot" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jcaBridge" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="runScheduler" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="keyStorePath" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="keyStorePassword" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="63"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="timeZone" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="64"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="forbiddenCharacters" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="64"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="replacementCharacter" minOccurs="0" nillable="true" type="bon:CHAR"/>
                    <xs:element name="enablePlugins" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="enableGenericCallouts" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="sharedFilesystem" minOccurs="0" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ApplicationConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="workerPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="eventLoopPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="maxWorkerExecuteTime" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="maxEventLoopExecuteTime" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="blockedThreadCheckInterval" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="autonomousPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="localAsyncPoolSize" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="idempotencyCacheMaxEntries" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="idempotencyCacheExpiry" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="numberOfRetriesOptimisticLock" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="numberOfRetriesDatabaseConnect" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pauseBeforeDatabaseConnectRetry" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pauseIncreaseFactor" minOccurs="0" nillable="true" type="xs:double"/>
                    <xs:element name="dnsTtl" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="useShadowDatabaseForReports" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="useShadowDatabaseForMonitoringQueries" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="useShadowDatabaseForCombinedTextSearch" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="useShadowDatabaseForModule" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="16"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UplinkConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="key">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="36"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="url">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="identityServiceUrl" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="mediaType" minOccurs="0" nillable="true" type="api_media:MediaType"/>
                    <xs:element name="apiKey" minOccurs="0" nillable="true" type="bon:UUID"/>
                    <xs:element name="timeoutInMs" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="callbackUrl" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="basicAuth" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="clientId" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="extraParam" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="token" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="2048"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="requestTimeoutInMs" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="failOnUnknownProperties" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="internalService" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="authServerUrl" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SearchConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="strategy" type="t9t_cfg_be:namedQualifier"/>
                    <xs:element name="defaultUrl">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AsyncTransmitterConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="strategy" type="t9t_cfg_be:namedQualifier"/>
                    <xs:element name="maxMessageAtStartup">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="timeoutIdleGreen">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="timeoutIdleRed">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="timeoutShutdown">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="timeoutExternal">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="waitAfterExtError">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="waitAfterDbErrors">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="doNotPersistMessages" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="processQueues" minOccurs="0" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LdapConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="contextFactory">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="providerUrl">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="securityPrincipal">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="securityCredentials">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="63"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="organization">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="onlySelectedUsers" minOccurs="0" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="OidConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="audience" type="t9t_base_types:defaultExternalId"/>
                    <xs:element name="tenantId" type="t9t_base_types:defaultExternalId"/>
                    <xs:element name="issuer" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="80"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="jwksUri" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="80"/>
                                <xs:pattern value="\p{IsBasicLatin}*"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="mustMatchOid" type="xs:boolean"/>
                    <xs:element name="mustMatchIdp" type="xs:boolean"/>
                    <xs:element name="updateOid" type="xs:boolean"/>
                    <xs:element name="updateIdp" type="xs:boolean"/>
                    <xs:element name="updateName" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="updateEmail" minOccurs="0" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EncryptionConfiguration">
        <xs:complexContent>
            <xs:extension base="bon:BONAPORTABLE">
                <xs:sequence>
                    <xs:element name="encryptionId" type="t9t_base_types:t9tShortId"/>
                    <xs:element name="transformation" type="t9t_base_types:defaultExternalId"/>
                    <xs:element name="provider" minOccurs="0" nillable="true" type="t9t_base_types:defaultExternalId"/>
                    <xs:element name="secretKeyAlgorithm" type="t9t_base_types:defaultExternalId"/>
                    <xs:element name="secretKeyData">
                        <xs:simpleType>
                            <xs:restriction base="xs:normalizedString">
                                <xs:maxLength value="12000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="secretKeyIsBase64" minOccurs="0" nillable="true" type="xs:boolean"/>
                    <xs:element name="ivLen" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="gcmTLen" minOccurs="0" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:unsignedInt">
                                <xs:maxInclusive value="2147483647"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
